
/* Estilos globales */

@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body{
  background: #191919;
  color: white;
  font-family: 'Mooli', sans-serif;
  height: 100%;
}

a,h1,h2{
  color: white;
}

a:hover ,
.jobs, 
.icon-contact,
.div-form label,
.footer a:hover{
  color: rgb(239, 87, 87);
}

/* Header*/


header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  height: 999px;

}

.navbar{
  background:rgb(239, 87, 87);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}


.nav_items a{
  margin: 15px;
  color: white;
  position: relative;
  text-decoration: none;
}

.nav_toggle{
  display: none;
}

@media (max-width: 768px) {

  .nav_items{
      position: absolute;
      top: 60px;
      left: 0;
      background: rgb(239, 87, 87);
      display: flex;
      flex-direction: column;
      border-radius: 0 0 10px 0;    
      transform: translateX(-100%);
      transition: 0.3s ease all;
  }
  .nav_items.open{
      transform: translateX(0) !important;
  }
  .nav_toggle{
      display: flex !important;
      flex-direction: column;                
      margin: 15px;
  }
  .nav_toggle span{
      width: 30px;
      height: 4px;
      background: white;
      margin-bottom: 5px;
      border-radius: 2px;             
      transform-origin: 5px 0px;
      transition: all 0.2s linear;
  }
  .nav_toggle.open > span{
      transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open > span:nth-child(2){
      display: none;
  }
  .nav_toggle.open > span:nth-child(3){
      transform: rotate(-45deg) translate(-5px, 1px);
  }
}


.nav_logo{
  width: 25vw;
  height: 15vh;
}

.text-home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myname{
  text-align: center;
  font-size: 18px;
}

@keyframes job-fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.jobs {
  animation: job-fade 5s infinite; 
  margin-bottom: 5%;
}

.title-container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 15px;
margin: 5%;
}

.photo_home{
  width: 85vw;
  height: 50vh;
  border-radius: 10px;
}



.line{
  display: none;
}

/* Footer */

.footer{
  background-color:#FFDE59;
  padding: 5%;
}

.footer a{
  color: black;
}

.footer p{
  color: black;
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
}

.social_networks_footer{
  text-align: center;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}



/* Contacto */


.div-form input{
  border-radius: 10px;
  opacity: .8;
}



.form-mail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  margin: 2%;
}

textarea{
  color: white;
  background-image: url(../src/images/fondodeveloper.jpeg);
  background-size: cover;
  border-radius: 10px;
  resize: none;
  opacity: 0.7;
}

textarea::placeholder {
  color: white;
}

.div-form button{
  background-color: rgb(239, 87, 87);
  border-radius: 10px;
  border: 'none';
  cursor: pointer;
  color: white;
}

.div-form button:hover{
  background-color: #FFDE59;
  color: black;
}



/* Tarjetas */

.stytle_cards{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 35vh;
  background: linear-gradient(to bottom,rgb(239, 87, 87), white);
  border-radius: 10px;
  padding: 5%;
  font-size: 8px;
}

.Container_cards{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}


.containers_cardsred, .repo{
  display: flex;
  flex-direction: column;
  gap: 5vh;
  font-size: 13px;
  color: black;
  text-align: center;

}

.card_technology {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
  align-items: center;
  justify-items: center;
}

.photo{
  width: 18ww;
  height: 11vh;
}


.animate {
  animation-name: moveImage;
  animation-duration: 2s; 
  animation-timing-function: ease; 
  animation-iteration-count: infinite; 
}

@keyframes moveImage {
  0% {
    transform: translate(5px, 2px);
  }
  20% {
    transform: translate(3px, 3px);
  }
  50% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(5px, 2px);
  }
}

/* proyectos */

.text_projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stytle_cards_Tecnology{
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom,#FFDE59, white);
  gap: 5px;
}



.containterProjects {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 15px;
}

.containterProjects img{
  width: 100%;
  height: 30vh;
  border-radius: 10px;
}

.containterProjects img:hover{
  opacity: 0.6;
}

.containterProjects button{
  background-color: rgb(239, 87, 87);
  width: 100%;
  border-radius: 10px;
}

.containterProjects button:hover{
  background-color: rgb(255, 255, 255);
}

/* Contacto */

.styles_contact{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.styles_contact img{
  width: 100%;
  height: 45vh;
}

.links_contact{
  display: flex;
  align-items: center;
  gap: 2%;
  margin: 5%;
  font-size: 12px;
}


@media (min-width: 768px) {

  /* header */
  header{
    justify-content: space-around;
  }

  .nav_logo{
    width: 10vw;
    height: 10vh;
  }

  /* home */

  .myname{
    text-align: center;
    font-size: 30px;
  }

  .jobs {
    font-size: 25px;
  }

  .photo_home{
    border-radius: 30px;
    width: 70vw;
    height: 40vh;
  }

  /* Tarjetas */

  h2{
    font-size: 3vh;
  }

  .stytle_cards{
    width: 60vw;
    height: 40vh;
    font-size: 20px;
  }

  .photo{
    width: 80%;
    height: 80%;
  }


  /* proyectos */

  .containterProjects button{
    font-size: 2vh;
  }

  .text_projects p{
    font-size: 2vh;
  }

  .containterProjects h3{
    font-size: 3vh;
  }

  .stytle_cards_Tecnology{
    padding: 0;
    gap: 2vh;
  }

  .containterProjects img{
    width: 50vw;
    height: 30vh;
  }

  /* contacto */

  .styles_contact img{
    height: 30vh;
    border-radius: 10px;
  }

  .container_contactfrom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
  }

  .fa-2x {
    font-size: 3em;
  }

}


@media (min-width: 1280px) {

  .photo_home {
    width: 45vw;
    height: 40vh;
  }

  .nav_logo{
    width: 6vw;
    height: 10vh;
  }

  .myname{
    font-size: 4vh;
  }

  .jobs {
    font-size: 5vh;
  }

  .stytle_cards{
    width: 20vw;
    height: 35vh;
  }


  .containers_cardsred,.repo{
    flex-direction: row;

  }
  .line {
    display: block;
    border-top: 5px solid white; 
    margin: 20px 0; 
    width: 80vw;
  }

  .containterProjects img{
    width: 18vw;
    height: 30vh;
  }

  .social_networks{
    gap: 50px;
  }

  .fa-2x {
    font-size: 5em;
  }
}


@media (min-width: 1600px) {

  .nav_logo{
    width: 5vw;
    height: 20vh;
  }

  .title-container{
    flex-direction: row;
    gap: 10%;
  }

  .photo_home {
    width: 25vw;
    height: 40vh;
  }

  h2{
    font-size: 4vh;
  }
  .aboutme{
    display: flex;
    flex-direction: column;
  }

  .containers_cardsred{
    gap: 10vw;
  }

  .stytle_cards {
    width: 30vw;
    height: 40vh;
    font-size: 2vh;
  }

  .photo{
    width: 65%;
    height: 70%;
  }


  .social_networks{
    gap: 100px;
  }
  .social_networks  .fa-2x{
    font-size: 7em;
  }
  

  .text_projects p{
    font-size: 4vh;
  }

  .containterProjects img{
    width: 25vw;
    height:28vh;
  }

  .containterProjects h3{
    font-size: 3vh;
  }
  .footer{
    padding: 2%;
    gap: 4%;
  }

  .footer p{
    font-size: 2vh;
    margin-top: 5vh;
  }

  .footer .fa-2x{
    font-size: 10em;
  }
  
}






