body{
  background: black;
  color: white;
}


header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.social_Networks{
  display: flex;
  gap: 10px;
}

.social_Networks a{
  color: white;
}

.menu{
  background-color: gray;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: black;

}

.menu.active{
  display: none;
  transition: all .5s ease;
  width: 100%;
}

.menu a{
  color: black;
  text-decoration: none;
  margin: 5px;
}


Header img{
  width: 60px;
  height: 60px;
}

button{
  background-color: transparent;
  color: white;
  border: none;
}

button:hover{
  color: rgb(239, 87, 87);
}





.photo_home,.image_icon{
  width: 50px;
  height: 50px;
}

.myname{
  font-size: 10px;
}

.title-container{
  display: grid;
  grid-template-columns: 1fr 1fr ; /* Dos columnas de igual ancho */
  gap: 10px; /* Espacio entre las columnas */
}



a:hover{
  color: rgb(239, 87, 87);
}

.jobs{
  color: rgb(239, 87, 87);
}

@keyframes scrollText {
  0% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(2%);
  }
}

.title-container .jobs {
  animation: scrollText 10s linear infinite;
}


